<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="refresh" content="1;url={{ page.external_url }}">
    <link rel="stylesheet" href="/assets/stylesheets/github.css" />
    <link rel="stylesheet" href="/assets/stylesheets/site.css" />
    <link rel="stylesheet" href="/assets/stylesheets/syntax.css" />
  </head>
  <body>
    <div id="page">
      {% include header.html %}
      <p>Redirecting you to: [{{ page.external_url }}]({{ page.external_url }})</p>
     </div>
  </body>
</html>
